/* mixin */
html, body, a {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #000; }

h1, h2 {
  font-weight: 500; }

h3 {
  font-weight: 700; }

p {
  color: #283136;
  font-weight: 400;
  line-height: 1.5rem; }

a {
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

ul {
  padding-left: 0; }

li {
  list-style-type: none; }

/* header */
.header {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #eeeeee; }
  .header__menu-block {
    margin-left: 160px; }
  .header__menu {
    margin-top: 1.5rem; }
  .header__cart {
    float: right;
    text-align: right;
    padding-top: 0.625rem;
    margin-top: 1.5rem; }
    .header__cart img {
      margin-right: 1.25rem; }

/* hero */
.slider {
  /* height: 34rem; */
  height: 415px;
  /* padding-top: 8.25rem; */
  padding-bottom: 0;
  /* height: 100vh; */
  background-color: #eeeeee; }
  .slider__title {
    font-size: 55px;
    line-height: 3.4375rem;
    margin-bottom: 1.5rem; }
    .slider__title-string {
      white-space: nowrap; }
  .slider__text {
    margin-bottom: 2.5rem; }
  .slider__btn {
    width: 15rem;
    height: 3.125rem;
    line-height: 1.125rem;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0;
    background-color: #fb565a; }
  .slider__img {
    /* width: 58.3333333%;
		height: auto; */
    /* width: 34.625rem; */ }

/* .tablets{
	width: 50%px;
} */
.carousel {
  height: inherit; }

.choose {
  padding-top: 70px; }
  .choose__img {
    width: 83.33333%;
    margin-bottom: 25px; }
  .choose__title {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase; }
  .choose__text {
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 36px; }
  .choose__btn {
    width: 44.44444%;
    height: 50px;
    color: #fff;
    margin-bottom: 80px; }

.btn-danger {
  background-color: #fb565a; }

.btn-success {
  background-color: #00ca74; }

.btn-warning {
  background-color: #efc84a; }
  .btn-warning:hover {
    color: #fff; }

.about-us {
  padding-top: 40px; }
  .about-us__title {
    padding-top: 35px;
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 36px; }
  .about-us__text {
    font-size: 1rem;
    margin-bottom: 44px; }
  .about-us__list-title {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem; }
  .about-us__list-item {
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 24px;
    color: #283136; }
  .about-us__list-img {
    margin-right: 11px; }
  .about-us__imj-logo {
    margin-bottom: 40px; }
  .about-us__list-title2 {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 50px;
    font-weight: 700; }
  .about-us__list-item2 {
    width: 104.94px; }
  .about-us__list-num {
    font-size: 45px;
    font-weight: 700;
    line-height: inherit; }
  .about-us__list-text {
    font-size: 1rem;
    line-height: 18px;
    margin-bottom: 74px; }

.logo {
  padding-top: 30px; }
  .logo__img {
    display: block;
    margin: 0 auto;
    opacity: 0.2;
    padding-bottom: 30px; }

.contacts {
  height: 420px;
  padding-top: 64px; }
  .contacts__map {
    position: relative;
    /* 		overflow: hidden; */ }
    .contacts__map iframe {
      position: absolute;
      max-width: none;
      width: 100vw;
      left: 50%;
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%);
      padding-left: -120px;
      padding-right: -120px;
      z-index: 1; }
  .contacts__info {
    position: absolute;
    width: 320px;
    /* height: 308px; */
    background-color: #fff;
    padding: 25px 50px 25px;
    margin-top: 140px;
    z-index: 10000; }
    .contacts__info span {
      display: block; }
  .contacts__info-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px; }
  .contacts__info-address {
    font-size: 1rem; }
  .contacts__info-btn {
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: #fb565a; }

/* #map {
        height: 400px;  The height is 400 pixels
        width: 100%;  The width is the width of the web page
       }
 */
.footer {
  padding-top: 70px;
  padding-bottom: 70px; }
  .footer__icon {
    margin-top: 70px;
    width: 80px;
    height: 80px;
    opacity: .2; }
  .footer__title {
    padding-top: 70px;
    font-size: 36px; }
  .footer__text {
    font-size: 1rem; }

@media (min-width: 300px) and (max-width: 399.98px) {
  .header {
    padding: 0.7rem 1.5rem 0; }
    .header__menu-block {
      margin: 0; }
    .header__logo img {
      width: 25%; }
    .header__menu {
      margin-top: 0.5rem; }
    .header__item a {
      font-size: 0.5rem;
      font-weight: 700; }
    .header__cart {
      float: right;
      text-align: right;
      padding-top: 0rem;
      margin-top: 0; }
      .header__cart a {
        font-size: 0.6rem;
        font-weight: 700; }
      .header__cart img {
        margin-right: 0.5rem; }
  .slider {
    height: inherit;
    padding-bottom: 0;
    background-color: #eeeeee; }
    .slider__title {
      font-size: 1.2rem;
      line-height: inherit;
      text-align: center;
      margin-bottom: 0.6rem; }
      .slider__title-string {
        white-space: nowrap; }
    .slider__text {
      font-size: 0.8rem;
      line-height: inherit;
      text-align: center;
      margin-bottom: 1.5rem; }
    .slider__btn {
      display: block;
      margin: 0 auto 1.5rem;
      width: 50%;
      height: inherit;
      font-size: 0.8rem;
      /* @include btn(); */
      background-color: #fb565a; }
  /* .tablets{
	width: 50%px;
} */
  .carousel {
    height: inherit; }
  .choose {
    padding: 2.5rem 1.5rem 0; }
    .choose__img {
      display: block;
      width: 100%;
      margin: 0 auto 1rem; }
    .choose__title {
      font-size: 1rem;
      line-height: inherit;
      text-transform: uppercase;
      margin: 0; }
    .choose__text {
      font-size: 0.7rem;
      line-height: inherit;
      margin-bottom: 1rem; }
    .choose__btn {
      display: block;
      width: 60%;
      height: 2.3rem;
      font-size: 0.8rem;
      color: #fff;
      margin-bottom: 3.2rem; }
      .choose__btn:active {
        opacity: 0.6; }
  .btn-warning {
    background-color: #efc84a; }
    .btn-warning:hover {
      color: #fff; }
    .btn-warning:active {
      color: #fff; }
  .about-us {
    padding: 2rem 1.5rem 0; }
    .about-us__title {
      padding-top: 0;
      font-size: 1.15rem;
      line-height: 1.5rem;
      margin-bottom: 0.8rem; }
    .about-us__text {
      font-size: 0.8rem;
      line-height: 1rem;
      margin-bottom: 1.2rem; }
    .about-us__list-title {
      font-size: 1rem;
      margin-bottom: 0.8rem; }
    .about-us__list-item {
      font-size: 0.8rem;
      line-height: 1rem;
      margin-bottom: 0.2rem;
      color: #283136; }
    .about-us__list-img {
      margin-right: 11px; }
    .about-us__imj-logo {
      width: 70%;
      display: block;
      margin: 0 auto 40px; }
    .about-us__list-title2 {
      width: 100%;
      text-align: center;
      font-size: 0.8rem;
      line-height: 1rem;
      margin-bottom: 1rem; }
    .about-us__list-item2 {
      text-align: center; }
    .about-us__list-num {
      font-size: 1.7rem;
      line-height: inherit;
      margin-bottom: 0.5rem; }
    .about-us__list-text {
      font-size: 0.7rem;
      line-height: 1rem;
      margin-bottom: 2rem; }
  .logo {
    padding: 2rem 1.5rem 0; }
    .logo__img {
      width: 60%; }
  .contacts {
    padding: 1rem 1.5rem; }
    .contacts__info {
      position: initial;
      width: 100%;
      padding: 0;
      margin: 0; }
    .contacts__info-title {
      font-size: 1rem;
      line-height: inherit;
      text-align: center; }
    .contacts__info-address {
      font-size: 0.8rem;
      text-align: center; }
    .contacts__info-btn {
      width: 100%;
      height: initial;
      font-size: 0.8rem;
      margin-bottom: 1.5rem; }
  .footer {
    padding: 70px 1.5rem 1.5rem;
    margin-top: 70px; }
    .footer__icon-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
    .footer__icon {
      margin-top: 0;
      width: 45px;
      height: 45px; }
    .footer__title {
      padding-top: 70px;
      font-size: 1.15rem;
      margin-bottom: 0.5rem;
      text-align: center; }
    .footer__text {
      font-size: 0.8rem;
      line-height: inherit;
      text-align: center; } }
