/* mixin */
html, body, a {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #000; }

h1, h2 {
  font-weight: 500; }

h3 {
  font-weight: 700; }

p {
  color: #283136;
  font-weight: 400;
  line-height: 1.5rem; }

a {
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

ul {
  padding-left: 0; }

li {
  list-style-type: none; }

/* header */
.header {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #eeeeee; }
  .header__menu-block {
    margin-left: 160px; }
  .header__menu {
    margin-top: 1.5rem; }
  .header__cart {
    float: right;
    text-align: right;
    padding-top: 0.625rem;
    margin-top: 1.5rem; }
    .header__cart img {
      margin-right: 1.25rem; }

/* hero */
.slider {
  /* height: 34rem; */
  height: 415px;
  /* padding-top: 8.25rem; */
  padding-bottom: 0;
  /* height: 100vh; */
  background-color: #eeeeee; }
  .slider__title {
    font-size: 55px;
    line-height: 3.4375rem;
    margin-bottom: 1.5rem; }
    .slider__title-string {
      white-space: nowrap; }
  .slider__text {
    margin-bottom: 2.5rem; }
  .slider__btn {
    width: 15rem;
    height: 3.125rem;
    line-height: 1.125rem;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0;
    background-color: #fb565a; }
  .slider__img {
    /* width: 58.3333333%;
		height: auto; */
    /* width: 34.625rem; */ }

/* .tablets{
	width: 50%px;
} */
.carousel {
  height: inherit; }

.choose {
  padding-top: 70px; }
  .choose__img {
    width: 83.33333%;
    margin-bottom: 25px; }
  .choose__title {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase; }
  .choose__text {
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 36px; }
  .choose__btn {
    width: 44.44444%;
    height: 50px;
    color: #fff;
    margin-bottom: 80px; }

.btn-danger {
  background-color: #fb565a; }

.btn-success {
  background-color: #00ca74; }

.btn-warning {
  background-color: #efc84a; }
  .btn-warning:hover {
    color: #fff; }

.about-us {
  padding-top: 40px; }
  .about-us__title {
    padding-top: 35px;
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 36px; }
  .about-us__text {
    font-size: 1rem;
    margin-bottom: 44px; }
  .about-us__list-title {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem; }
  .about-us__list-item {
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 24px;
    color: #283136; }
  .about-us__list-img {
    margin-right: 11px; }
  .about-us__imj-logo {
    margin-bottom: 40px; }
  .about-us__list-title2 {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 50px;
    font-weight: 700; }
  .about-us__list-item2 {
    width: 104.94px; }
  .about-us__list-num {
    font-size: 45px;
    font-weight: 700;
    line-height: inherit; }
  .about-us__list-text {
    font-size: 1rem;
    line-height: 18px;
    margin-bottom: 74px; }

.logo {
  padding-top: 30px; }
  .logo__img {
    display: block;
    margin: 0 auto;
    opacity: 0.2;
    padding-bottom: 30px; }

.contacts {
  height: 420px;
  background-color: #eee; }
  .contacts__map {
    position: relative;
    /* 		overflow: hidden; */ }
    .contacts__map iframe {
      position: absolute;
      max-width: none;
      width: 100vw;
      left: 50%;
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%);
      padding-left: -120px;
      padding-right: -120px; }

/* #map {
        height: 400px;  The height is 400 pixels
        width: 100%;  The width is the width of the web page
       }
 */
.footer {
  padding-top: 70px;
  padding-bottom: 70px; }
  .footer__icon {
    width: 80px;
    height: 80px;
    opacity: .2; }
  .footer__title {
    font-size: 36px; }
  .footer__text {
    font-size: 1rem; }
